<html>
<head>
	<meta charset="utf-8">
  	<!-- If you delete this meta tag World War Z will become a reality -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Askii</title>
  	<link rel="stylesheet" href="/static/css/style.css">
</head>
	<body>
	    {% if question.content.image_url %}
	    	<center>
	    		<img src="{{ question.content.image_url }}" width="25%" class="content-image">
	    	</center>
	    {% endif %}
	    <p> 
	    	{{ question.content.text }}
	    </p>
	</body>
</html>